.list-container {
  background: #eee;
  
  .section-list-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 50px 0px;
  }

}

.loading {
  color:#FFCB05;
  text-align: center;
}